<div id="verticalNavLayout" class="layout-pf layout-pf-fixed faux-layout" style="background-color: white;">

<!-- EmptyStateComponent will render if we get rid of layout-pf-fixed and faux-layout
<div id="verticalNavLayout" class="layout-pf" style="background-color: white;">-->
  <pfng-vertical-navigation
      [brandAlt]="'PatternFly Ng'"
      [contentContainer]="contentContainer"
      [items]="navigationItems"
      [persistentSecondary]="false"
      [pinnableMenus]="true"
      [showBadges]="true"
      [showIcons]="true"
      [updateActiveItemsOnClick]="true"
      (onItemClickEvent)="onItemClicked($event)"
      (onNavigationEvent)="onNavigation($event)">
  </pfng-vertical-navigation>
</div>
